%h1 Listing lessons

%table
  %thead
    %tr
      %th Room
      %th Teacher
      %th Group num
      %th Lesson name
      %th Start at
      %th End at
      %th
      %th
      %th

  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.room
        %td= lesson.teacher
        %td= lesson.group_num
        %td= lesson.lesson_name
        %td= lesson.start_at
        %td= lesson.end_at
        %td= link_to 'Show', lesson
        %td= link_to 'Edit', edit_lesson_path(lesson)
        %td= link_to 'Destroy', lesson, :method => :delete, :data => { :confirm => 'Are you sure?' }
=search_form_for @q do |f|
  = f.label :teacher
  = f.search_field :teacher_cont
  = f.button :submit
=search_form_for @q do |f|
  = f.label :room
  = f.search_field :room_cont
  = f.button :submit


%br

= link_to 'New Lesson', new_lesson_path
